<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Direct Messages | Interconnected</title>
    <%- include("Partials/Head.html") %>
  </head>
  <body onload="GetGroupID(); LoadGroups(); LoadMessages()">
    <%- include("Partials/Navigation.html") %>
    <div id="LeftMenuGroups">
      <div>
        <!-- Buttons to make a new chat etc -->
        <button
          class="BlackButton"
          id="NewChatButton"
          onclick="document.getElementById('NewChatDialog').showModal()"
          style="margin-top: 10px; margin-right: 10px; float: right"
        >
          New Chat
        </button>
        <dialog id="NewChatDialog" class="Dialog">
          <h3>Create DM</h3>
          <form action="/api/User/CreateDirectMessage" method="post">
            <input
              id="UserSearch"
              type="text"
              placeholder="Search for a user..."
              oninput="SearchForUser()"
            />
            <div id="SearchResults"></div>
            <input
              type="text"
              name="UserSelected"
              value=""
              id="UserSelected"
              hidden
            />
            <br />
            <button type="submit" class="BlackButton" disabled>Create</button>
          </form>
        </dialog>
      </div>
      <br />
      <br />
      <br />
    </div>
    <div onscroll="LoadMore()" id="MessageWrapper"></div>
    <div id="InputDiv">
      <input id="MainInput" type="text" placeholder="Write a Message..." />
      <button id="MainButton" onclick="SendMessage()">Send</button>
    </div>
    <script>
      function SearchForUser() {
        fetch(
          `/api/User/SearchUsers/${
            document.getElementById("UserSearch").value
          }`,
          {
            method: "GET",
            headers: {
              "Content-Type": "application/json",
            },
          }
        )
          .then((res) => res.json())
          .then((data) => {
            document.getElementById("SearchResults").innerHTML = "";
            data.forEach((user) => {
              const User = document.createElement("div");
              User.classList.add("User");
              User.innerHTML = `<h3>${user}</h3>`;
              User.addEventListener("click", () => {
                document.getElementById("UserSelected").value = user;
                document.getElementById("UserSearch").value = user;
                document.getElementById("SearchResults").innerHTML = "";
                document
                  .querySelector("#NewChatDialog button[type=submit]")
                  .removeAttribute("disabled");
              });
              document.getElementById("SearchResults").appendChild(User);
            });
          });
      }
      let GroupID = "";
      function GetGroupID() {
        GroupID = window.location.pathname.split("/")[2];
        if (GroupID === undefined || GroupID === "") {
          MainInput.classList.add("hidden");
          MainButton.classList.add("hidden");
          // Make a dummy message with the user being "Direct Messages" and the message being "Select a chat to start"
          const Message = document.createElement("div");
          Message.classList.add("Message");
          Message.innerHTML = `<p class="Time">${new Date().toLocaleString()}</p><h3>Direct Messages</h3><p>Select a chat or create one!</p>`;
          document.getElementById("MessageWrapper").appendChild(Message);
        } else {
          ConnectToSocket();
          CorporateSpeak();
        }
      }
      // Load other groups here
      function LoadGroups() {
        fetch("/api/User/Groups?Type=DM", {
          method: "GET",
          headers: {
            "Content-Type": "application/json",
          },
        })
          .then((res) => res.json())
          .then((data) => {
            data.forEach((group) => {
              const Group = document.createElement("div");
              Group.classList.add("ListGroup");
              if (group.UniqueID === GroupID)
                Group.classList.add("ActiveGroup");
              Group.id = group.UniqueID;
              Group.innerHTML = `<p style="float: right; margin-right: 25px; background-color: #e0e0e0; padding: 5px; border-radius: 8px">${group.UnreadMessages}</p><h3>${group.Name}</h3><p style="font-size: 0.875rem;" class="LastMessage">${group.LastMessage}</p>`;
              Group.addEventListener("click", () => {
                ChangeGroup(group.UniqueID);
              });
              document.getElementById("LeftMenuGroups").appendChild(Group);
            });
          });
      }
      // Get messages here
      function LoadMessages() {
        fetch(`/api/User/Messages/${GroupID}`, {
          method: "GET",
          headers: {
            "Content-Type": "application/json",
          },
        })
          .then((res) => res.json())
          .then((data) => {
            data.forEach((message) => {
              const Message = document.createElement("div");
              Message.id = message.UniqueID;
              Message.classList.add("Message");
              Message.innerHTML = `<p class="Time">${message.CreatedAt}</p><h3>${message.Sender}</h3><p>${message.Message}</p>`;
              document.getElementById("MessageWrapper").appendChild(Message);
            });
          });
      }
      function SendMessage() {
        let Body = {
          GroupID: GroupID,
          Message: document.getElementById("MainInput").value,
        };
        fetch("/api/User/SendMessage", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(Body),
        })
          .then((res) => res.json())
          .then((data) => {
            if (data.Success) {
              document.getElementById("MainInput").value = "";
            }
          });
      }

      function CorporateSpeak() {
        fetch("/api/User/CorporateSpeak", {
          method: "GET",
          headers: {
            "Content-Type": "application/json",
          },
        })
          .then((res) => res.json())
          .then((data) => {
            document.getElementById("MainInput").placeholder =
              data.Words + "...";
          });
        document
          .getElementById("MainInput")
          .addEventListener("keyup", (event) => {
            if (event.keyCode === 13) {
              event.preventDefault();
              SendMessage();
            }
          });
      }

      // Connect to socket
      function ConnectToSocket() {
        const socket = new WebSocket("ws://localhost:3001");
        socket.onopen = () => {
          socket.send(
            JSON.stringify({
              session_id: document.cookie.split("=")[1],
              GroupID: GroupID,
            })
          );
        };
        socket.onmessage = (event) => {
          data = JSON.parse(event.data);
          const Message = document.createElement("div");
          Message.classList.add("Message");
          Message.innerHTML = `<p class="Time">${data.CreatedAt}</p><h3>${data.Sender}</h3><p>${data.Message}</p>`;
          document.getElementById("MessageWrapper").appendChild(Message);
          const div = document.getElementById("MessageWrapper");
          if (localStorage.getItem("Fullname") === null) {
            // Use the /api/Me api to get the fullname and store in localstorage
            fetch("/api/Me", {
              method: "GET",
              headers: {
                "Content-Type": "application/json",
              },
            })
              .then((res) => res.json())
              .then((data) => {
                localStorage.setItem(
                  "Fullname",
                  data.Firstname + " " + data.Surname
                );
              });
          }
          if (data.Sender === localStorage.getItem("Fullname")) {
            Message.classList.add("SentMessage");
            data.PerspectiveSender = "You";
          } else {
            Message.classList.add("ReceivedMessage");
            data.PerspectiveSender = data.Sender;
          }
          GroupDiv = document.getElementById(GroupID);
          GroupDiv.getElementsByClassName(`LastMessage`)[0].innerHTML =
            data.PerspectiveSender + ": " + data.Message;

          div.scrollTo({ top: div.scrollHeight });
          if (SendNotifications) {
            // Check that the sender is not the current user
            if (
              data.Sender != document.getElementById("AccountName").innerHTML
            ) {
              new Notification(
                data.Sender +
                  ` (${
                    document.getElementById("ActiveGroup").children[0].innerHTML
                  })`,
                {
                  body: data.Message,
                }
              );
            }
          }
        };
        onload = () => {
          const div = document.getElementById("MessageWrapper");
          div.scrollTo({ top: div.scrollHeight });
        };
        setTimeout(() => {
          const div = document.getElementById("MessageWrapper");
          div.scrollTo({ top: div.scrollHeight });
        }, 1000);
      }

      // Get notification permisison
      let SendNotifications = false;
      Notification.requestPermission().then((result) => {
        if (result === "granted") {
          SendNotifications = true;
        }
      });

      // Change group
      function ChangeGroup(NewGroupID) {
        if (NewGroupID === GroupID) return;
        // Check to see if there is an open group
        if (GroupID == "" || GroupID == undefined) {
          MainInput.classList.remove("hidden");
          MainButton.classList.remove("hidden");
        } else {
          const OldGroup = document.getElementById(GroupID);
          OldGroup.classList.remove("ActiveGroup");
        }
        const NewGroup = document.getElementById(NewGroupID);
        NewGroup.classList.add("ActiveGroup");
        GroupID = NewGroupID;
        document.getElementById("MessageWrapper").innerHTML = "";
        LoadMessages();
        ConnectToSocket();
        const newURL =
          window.location.protocol +
          "//" +
          window.location.host +
          "/DirectMessages/" +
          NewGroupID;
        history.pushState(null, null, newURL);
      }
    </script>
  </body>
</html>
