<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/CSS/All.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <title>Login | Interconnected</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div>
      <form id="LoginForm" action="/api/Login" method="post">
        <h1>Login</h1>
        <input
          type="text"
          name="Email"
          id="Email"
          placeholder="Email Address"
        />
        <input
          type="text"
          name="Password"
          id="Password"
          placeholder="Password"
        />
        <div id="LoginContextActions">
          <label for="RememberMe">Remember Me</label>
          <input type="checkbox" name="RememberMe" />
          <br />
          <label for="AdminLogin">Admin</label>
          <input type="checkbox" name="AdminLogin" />
          <br />
        </div>
        <input id="submit" type="submit" value="Login" />
      </form>
    </div>
  </body>
</html>
