* {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
}

::-webkit-scrollbar {
    width: 7px;
    background-color: var(--color-dark);
}

::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
    border-radius: 10px;
}


.NavIcons {
    width: 30px;
    height: 30px;
    color: #000;
    padding-right: 10px;
}

/* Make the nav into a verticle navigation with the interconnected h3 at the top */

nav {
    width: 50px;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

nav>h3 {
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
}

nav>ul {
    list-style: none;
    padding: 0;
    margin-top: 100px;
}

nav>ul>li {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 10px;
}

nav>ul>li:hover {
    background-color: #f2f2f2;
}


nav>ul>li>a {
    text-decoration: none;
    color: #000;
    font-size: 1.25em;
}

#User {
    float: right;
    margin-right: 1%;
    line-height: 10px;

    border-radius: 8px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
    padding: 10px 50px;
}

main {
    margin-left: 50px;
    padding: 20px;
}

/* ManageUsers.ejs */

.Columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#CreateAccount input[type="text"],
input[type="password"],
input[type="email"] {
    border: none;
    border-bottom: 1px solid #1d1d1f;
    background-color: inherit;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1.25em;
}

#CreateAccount input[type="submit"] {
    border: none;
    background-color: #1d1d1f;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

#CreateMultipleAccounts {
    float: right;
}

#CreateMultipleAccounts input[type="submit"] {
    border: none;
    background-color: #1d1d1f;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

#UserTable {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

#UserTable>thead>tr>th {
    border-bottom: 1px solid #000;
    padding: 10px;
}

#UserTable>tbody>tr>td {
    padding: 10px;
    border-bottom: 1px solid #000;
}

#UserTable>tbody>tr>td>a {
    text-decoration: none;
    color: #000;
}

.Dialog {
    border: none;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 10px;
}

.LockAccountButton {
    background-color: #1d1d1f;
}

.DeleteAccountButton {
    background-color: #ff3a30;
}

.ActionButtonGeneralStyling {
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    border: none;
    margin: 10px;
}


.hidden {
    display: none;
}

.invisible {
    opacity: 0;
}

.blurry {
    filter: blur(5px);
    user-select: none;
}

/* ManageGroups.ejs */

/* Create a sleek apple like design */


#CreateGroup input[type="text"] {
    border: none;
    border-bottom: 1px solid #1d1d1f;
    background-color: inherit;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1.25em;
}

#CreateGroup input[type="submit"] {
    border: none;
    background-color: #1d1d1f;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.GroupWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.Group {
    width: 20%;
    border-radius: 8px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
    margin-top: 50px;
    padding-left: 20px;
    text-decoration: none;
    color: #000;
}

.Group>img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.Group h3 {
    margin-right: 20%;
}

.NotificationCount {
    border-radius: 25px;
    background-color: #f2f2f2;
    margin-left: 70px;
    padding: 4px;
}

.CountRed {
    background-color: #ff9999;
}

.CountAmber {
    background-color: #ff9500;
}

.CountGreen {
    background-color: #1d1d1f;
}



.TextWrapper {
    width: 60%;
    height: 100%;
    margin-right: 10px;
}


/* Make the list space the objects evenly on a single line */

.Group ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    border-top: #000 1px solid;
    width: calc(100% - 20px);
}

.Group ul li {
    list-style: none;
    padding: 10px;
}

.DeleteGroup {
    float: right;
    margin-top: 10px;
    cursor: pointer;
    text-align: right;
    margin-right: 1%;
    border: none;
    background-color: inherit;
}

.GroupInfo {
    float: right;
    background-color: inherit;
    border: none;
    cursor: pointer;
}

.AddUser select {
    border: none;
    border-bottom: 1px solid #1d1d1f;
    background-color: inherit;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1em;
}

.AddUser input[type="submit"] {
    border: none;
    background-color: #1d1d1f;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.BlackButton {
    border: none;
    background-color: #1d1d1f;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.RedButton {
    border: none;
    background-color: #ff3a30;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}


/* Settings.ejs */

#ProfilePicture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
}


/* Group.ejs */


#LeftMenuGroups {
    top: 0;
    width: 350px;
    height: 100%;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: -1;
    margin: 0;
    padding-left: 40px;
}


#ActiveGroup {
    background-color: #f2f2f2;
}

.ListGroup {
    padding: 10px 0;
    padding-left: 10px;
}




#MainInput {
    position: absolute;
    top: 90%;
    left: 30%;
    width: 60%;
    border-radius: 5px;
    border: #000 1px solid;
    padding: 10px;
}

#MainInput:focus {
    outline: none;
}

#MainButton {
    background-color: rgb(0, 128, 255);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 90%;
    left: 92%;
}

#MessageWrapper {
    position: absolute;
    top: 10%;
    left: 30%;
    width: 65%;
    height: 80%;
    overflow-x: hidden;

    scroll-behavior: smooth;
}

.Time {
    font-size: 0.75em;
    color: #a6a6a6;
    float: right;
}