<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manage Groups | Interconnected</title>
    <%- include('Partials/Head.html') %>
  </head>
  <body onload="LoadAccounts()">
    <%- include('Partials/Navigation.html') %>
    <main>
      <h3>Manage Groups</h3>
      <div>
        <form action="api/Admin/CreateGroup" method="post" id="CreateGroup">
          <input
            type="text"
            name="GroupName"
            id="GroupName"
            placeholder="Group Name"
          />
          <input type="submit" value="Create"></input>
        </form>
      </div>
      <div id="GroupWrapper"></div>
    </main>
    <script>
      let Children = [];
      function LoadAccounts() {
        fetch("/api/Admin/Accounts", {
          method: "GET",
        })
          .then((res) => res.json())
          .then((data) => {
            for (i = 0; i < data.length; i++) {
              Children.push(data[i].Firstname + " " + data[i].Surname);
            }
          });
          console.log(Children)

        fetch("/api/Admin/Groups", {
          method: "GET",
        })
          .then((res) => res.json())
          .then((data) => {
            let GroupWrapper = document.getElementById("GroupWrapper");
            data.forEach((group) => {
              let Group = document.createElement("div");
              Group.classList.add("Group");
              Group.innerHTML = `
                    <button title="Delete Group" onclick="document.getElementById('Delete${group.UniqueID}').showModal()" class="DeleteGroup"><?xml version="1.0" encoding="utf-8"?><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
      <svg viewBox="0 0 24 24" fill="none" class="NavIcons" xmlns="http://www.w3.org/2000/svg">
      <path d="M14.5 9.50002L9.5 14.5M9.49998 9.5L14.5 14.5" stroke="#ff3a30" stroke-width="1.5" stroke-linecap="round"/>
      <path d="M7 3.33782C8.47087 2.48697 10.1786 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 10.1786 2.48697 8.47087 3.33782 7" stroke="#ff3a30" stroke-width="1.5" stroke-linecap="round"/>
      </svg></button>
                  <h3>${group.Name} (${group.Members.length} Members)</h3>
                  <hr>
                  <button class="BlackButton" onclick="document.getElementById('AddUser${group.UniqueID}').showModal()">Add User</button>
                  <dialog id='AddUser${group.UniqueID}' class="Dialog" style="min-width:20%">
                    <button class="BlackButton" style="float: right" onclick="this.parentElement.close()">Cancel</button>
                    <h3>Add User</h3>
                    <p class="hidden" id="Notice"></p>
                    <form action="/api/Admin/AddUserToGroup" method="post" class="AddUser">
                    <input type="hidden" name="GroupID" value="${
                      group.UniqueID
                    }" />
                    <select name="Name">
                      ${Children.map((child) => {
                        if (group.Members.includes(child)) return "";
                        else
                          return `<option value="${child}">${child}</option>`;
                      })}
                    </select>
                    <input type="submit" value="Add" />
                  </form>
                  <hr>
                  <h3>Current Users</h3>
                  <ul style="list-style: none; width: 100%;padding:0">
                    ${group.Members.map((member) => {
                      return `<li><h4>${member}</h4></li>`;
                    }).join("")}
                  </ul>
                  </dialog>
                  <dialog id="Delete${group.UniqueID}" class="Dialog">
                    <h3>Are you sure you want to delete this group?</h3>
                    <p>This action cannot be undone. All messages will be deleted.</p>
                    <button class="BlackButton" style="float: right" onclick="this.parentElement.close()">Cancel</button>
                    <form action="/api/Admin/DeleteGroup" method="post">
                      <input type="hidden" name="GroupID" value="${
                        group.UniqueID
                      }" />
                      <button type="submit" class="RedButton">Delete</button>
                    </form>
                  </dialog>
                  `;
              GroupWrapper.appendChild(Group);
              // Get all elements with the name "Name"
              let Names = document.getElementsByName("Name");
              // For each element with the name "Name" if there are no children then hide the whole form
              Names.forEach((name) => {
                if (name.children.length == 0) {
                  name.parentElement.style.display = "none";
                  // Display a <p>
                    document.getElementById("Notice").classList.remove("hidden");
                    document.getElementById("Notice").innerHTML = "No more users in your organisation to add to this group.";
                }
              });
            });
          });
      }

    </script>
  </body>
</html>
